/**PAGES GALERIA**/
.galeriaDeImagImag {
    width: 100%;
    max-width: 1180px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25% 50% 25%;
    gap: 10px;
    grid-template-areas: "imgGaleria--1 imgGaleria--2 imgGaleria--2" "imgGaleria--1 imgGaleria--3 imgGaleria--4" "imgGaleria--5 imgGaleria--6 imgGaleria--6";
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
      filter: sepia(50%);
      &:hover {
        transform: scale(1.03);
        transition: all 0.6s;
        filter: sepia(0%);
      }
    }
  }
  
  .imgGaleria--1 {
    grid-area: imgGaleria--1;
  }
  
  .imgGaleria--2 {
    grid-area: imgGaleria--2;
  }
  
  .imgGaleria--3 {
    grid-area: imgGaleria--3;
  }
  
  .imgGaleria--4 {
    grid-area: imgGaleria--4;
  }
  
  .imgGaleria--5 {
    grid-area: imgGaleria--5;
  }
  
  .imgGaleria--6 {
    grid-area: imgGaleria--6;
  }
  
  @media only screen and (min-width: 300px) and (max-width: 479px) {
    .galeriaDeImagImag {
      grid-template-rows: repeat(6, 720px);
      grid-template-columns: repeat(1, 100%);
      grid-template-areas: "imgGaleria--1" "imgGaleria--2" "imgGaleria--3" "imgGaleria--4" "imgGaleria--5" "imgGaleria--6";
    }
  }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .galeriaDeImagImag {
      grid-template-rows: repeat(3, 30%);
      grid-template-columns: repeat(2, 50%);
      grid-template-areas: "imgGaleria--1 imgGaleria--2" "imgGaleria--3 imgGaleria--4" "imgGaleria--5 imgGaleria--6";
    }
  }
  /**PAGES GALERIA 2**/
  .container--galeria2 {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 10px;
    img {
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
      filter: sepia(50%);
    }
    img:hover {
      transform: scale(1.03);
      transition: all 0.6s;
      filter: sepia(0%);
    }
  }
  
  .row--galeria2 {
    padding-top: 10px;
  }
  



@import '_galeria2';


.ul .li{
    background: orange;
    overflow: hidden;
}

.lightbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.8);
    z-index: 2;

    @include flex( column , nowrap , center , center );
    opacity: 0;
    transform: scale(1.1);
    transition: all .5s ease;
    pointer-events: none;
}
.lightbox.activo{
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}
.lightbox .cerrar{
    width: 5em;
    height: 3em;
    background:orange;
    margin: 0 0 1em;
    @include neo( 1 , 1em , .5em );
    cursor: pointer;
}
.lightbox .cerrar:hover{
    @include neo( 2 , 1em , .5em );
}
.lightbox .grande{
    width:75%;
    height: 85vh;
    background: lightblue;
    @include neo( 1 , 1em , 1em );
    @media (min-width: 320px) and (max-width: 467px) {
      width: 100%;
      height: 35vh;
    }
    @media (min-width: 468px) and (max-width: 638px) {
      width: 100%;
      height: 50vh;
    }
    @media (min-width: 639px) and (max-width: 767px) {
      width: 100%;
      height: 60vh;
    }
    @media (min-width: 767px) and (max-width: 980px) {
      width: 100%;
      height: 75vh;
    }
}

.row-pad{
  @media (max-width: 575px) {
    padding-top: 20px;
  }
}


