/**HOME**/
.s-layout__content--background {
  background-image: url(../img/background2.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.s-layout__content--contenedor {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.s-layout__content--texto {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  text-align: start;
  margin-bottom: 4em;
  margin-top: 4em;
  margin-left: 1em;
  font-family: $letrasDef;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.8;
  position: relative;
  &::after {
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 60px;
    height: 4px;
    content: "";
    background: $colorDef;
  }
}

/**HOME PRESENTACION**/
.s-layout__content--aire{
  padding-top: 40%;
}



.s-layout__content--presentacion {
  padding: 40px;
  max-width: 900px;
  margin-left: 350px;
  font-weight: map-get($map: $font-weights, $key: 'extra-bold');
  p {
    line-height: 20px;
    font-size: 16px;
    color: #ffcc33;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    padding: 0 50px;
    margin: auto;
    background-color: #db3f41;
  }
  h1 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 3em;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 800;
    padding-top: 10px;
  }
  .p-warp{
    padding: 0 15% 0 15%;
  }
}


@media (max-width: 750px) {
  .s-layout__content--presentacion p{
    padding: 0;
  }
  .s-layout__content--presentacion .p-warp {
    padding: 0;
    display: block;
  }
}

/**HOME MUSEO**/
.s-layout__content--background--museo {
  background-image: url(../img/Quienes-somos.jpg);
  background-position: center;
  opacity: 0.8;
  background-size: cover;
  width: auto;
  h2 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: map-get($map: $font-weights, $key: 'medium');
    font-size: 2em;
    line-height: 36px;
    text-align: center;
    color: rgb(252, 215, 6);
    text-transform: uppercase;
    text-shadow: 2px 1px 2px black;
    margin: 5px 5px 3px 5px;
    padding-top: 40px;
    letter-spacing: 2px;
  }
  em{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.3em;
    text-shadow: 2px 1.5px 2px black;
  }
}

.museoColor {
  background-color: #ffcc33;
  height: 500px;
  opacity: 0.2;
}

.s-layout__content--texto--museo {
  position: relative;
  text-align: center;
  padding: 30px 0 70px;
}

.s-layout__content--texto--background {
  margin-top: 300px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.4);
}

.s-layout__content--boton--museo {
  background-color: rgba(0, 0, 0, 0.3);
  color: rgb(252, 194, 6);
  font-size: 16px;
  line-height: 16px;
  padding: 10px 20px;
  display: inline-block;
  border: 3px solid rgb(252, 194, 6);
  font-family: sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black;
  letter-spacing: 1px;
  margin-top: 20px;
  border-radius: 10px 0 10px 0;
  font-weight: map-get($map: $font-weights, $key: 'extra-bold');
  em:hover {
    color: $colorDef;
  }
}

/**Resolution -675px**/
@media (max-height: 675px){
  .s-sidebar__nav  
    .descP {
      font-size: 10px;
      padding-top: 5%;
      p {
        margin: 5px;
        height: 20%;
      }
      .descP {
        padding-top: 22%;
      }
    }
  .s-sidebar__nav--logo {
    height: 100px;
    width: 100px;
  }
}
/** MOVIL  **/
@media (min-width: 300px) and (max-width: 1023px) {
  .s-sidebar__nav--container {
    padding-top: 70px;
    padding-bottom: 0;
    position: relative;
    display: inline-block;
    width: 90%;
    height: 4em;
    text-align: unset;
    padding-left: 12px;
    em {
      position: absolute;
      left: 4em;
      transform: translateY(-50%);
      padding-top: 50px;
      font-family: $letrasDef;
      text-transform: uppercase;
      font-weight: map-get($map: $font-weights, $key: 'medium');
    }
    > img {
      position: relative;
      top: 0;
      left: 0;
      display: inline-block;
    }
    > img::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .s-sidebar__nav--logo {
    width: 40px;
    height: 40px;
  }
  .s-layout__content--presentacion{
    h1 {
      font-size: 2.5em;
    }
    p {
      font-size: 1em;
    }
  } 
}
@media (min-width: 300px) {
  .s-sidebar__nav p {
    visibility: hidden;
  }

  .s-layout__content {
    margin-left: 4em;
  }

  /** Sidebar **/
  .s-sidebar__trigger {
    width: 4em;
  }

  .s-sidebar__nav {
    width: 4em;
    left: 0;
    z-index: 2;
  }

  .s-sidebar__nav:hover,
.s-sidebar__nav:focus,
.s-sidebar__trigger:hover + .s-sidebar__nav,
.s-sidebar__trigger:focus + .s-sidebar__nav {
    width: 15em;
  }

  .s-sidebar__nav:hover,
.s-sidebar__nav:focus,
.s-sidebar__trigger:hover + .s-sidebar__nav p,
.s-sidebar__trigger:focus + .s-sidebar__nav p {
    visibility: visible;
  }

  .s-sidebar__nav:active p,
.s-sidebar__nav:hover p {
    visibility: visible;
  }
}
@media (min-width: 1024px) {
  .s-layout__content {
    margin-left: 15em;
  }

  /** Sidebar **/
  .s-sidebar__trigger {
    display: none;
  }

  .s-sidebar__nav {
    width: 15em;
    height: 100vh;
    p {
      visibility: visible;
      padding-top: 0;
    }
  }

  .s-sidebar__nav--home {
    visibility: hidden;
  }
}

@media (min-width: 300px) and (max-width: 849px) {
  .s-layout__content--aire{
    padding-top: 0;
    .s-layout__content--presentacion{
      visibility: hidden;
      margin: 0;
    }
  }
  
  .s-layout__content--background .s-layout__content--aire .logoHidden {
  text-align: center;
    img {
      visibility: visible;
      width: 38%;
      height: 38%;
      margin-top: 10%;
    }
    h1 {
      line-height: 20px;
      font-size: 16px;
      color: #ffcc33;
      text-align: center;
      font-family: sans-serif;
      text-transform: uppercase;
      margin: 10% 20px 10px 10%;
      background-color: #db3f41;
      font-weight: bold;
    }
  }
}


@media (min-width:850px) and (max-width: 2000px){
  .s-layout__content--background .s-layout__content--aire .logoHidden img {
    visibility: hidden;
    height: 0;
    width: 0;
  }
  .s-layout__content--background .s-layout__content--aire .logoHidden h1{
    visibility: hidden;
  }
  .s-layout__content--aire{
    padding-top: 400px;
    .s-layout__content--presentacion{
      visibility: visible;
    }
  }
}